<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="orangeHRM">
  <test thread-count="5" name="mobile Test">
    <classes>
      <class name="testNG.sequence"/>
      <class name="testNG.login"/>
      <class name="testNG.dependsOnJava"/>
    </classes>
  </test> <!-- mobile Test -->
</suite> <!-- orangeHRM -->
